<!-- load leaflet dependencies -->
<script src="{{ '/assets/lib/leaflet/leaflet.js' | relative_url }}"></script>
<script src="{{ '/assets/lib/leaflet/fuse.min.js' | relative_url }}"></script>
<script src="{{ '/assets/lib/leaflet/leaflet.fusesearch.js' | relative_url }}"></script>
<script src="{{ '/assets/lib/leaflet/leaflet.markercluster.js' | relative_url }}"></script>
<script src="{{ '/assets/lib/leaflet/leaflet.markercluster.freezable.js' | relative_url }}"></script>
<script src="{{ '/assets/lib/leaflet/leaflet.featuregroup.subgroup.js' | relative_url }}"></script>


{% assign objects = site.letters | where_exp: 'object','object.location_origin != "unk"' %}
{% assign locations = site.data.placename_main %}

<script>

    var newgeodata = { "type": "FeatureCollection", "features": [
    {% for object in objects %}
    { "type":"Feature", "geometry":{ "type":"Point", "coordinates":[{% for l in locations %}{% if l.key contains object.location_origin %}{{ l.longitude | strip }},{{ l.latitude | strip }}{% endif %}{% endfor %}] }, "properties":
    { "title": {{ object.title | escape | jsonify }}, "location": {{ object.location_origin | escape | jsonify }}, {% for l in locations %}{% if l.key contains object.location_origin %}"city": {{ l.city | escape | jsonify }}, "country": {{ l.country | escape | jsonify }},{% endif %}{% endfor %} "id": {{ object.letter_id | jsonify }}, "creator": {{ object.creator | jsonify }}, "recipient": {{ object.recipient | jsonify }}, "date": {{ object.letter_date | jsonify }} } }{% unless forloop.last %}, {% endunless %}{% endfor %}
    ]};

    console.log(newgeodata);

    var stamen = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
      attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      subdomains: 'abcd',
      minZoom: 1,
      maxZoom: 16,
      ext: 'jpg',
    });

    function objectPopups(feature, layer) {
        var itemHref = '{{ site.baseurl }}/letters/' + feature.properties.id + '.html';
        var popupTemplate = '<h4><a class="text-dark" href="' + itemHref + '">' + feature.properties.title + '</a></h4><p class="mt-0">';
        popupTemplate += '<strong>Date:</strong> ' + feature.properties.date + '<br>';
        popupTemplate += '</p><div class="text-center"><a class="btn btn-light" href="' + itemHref + '" >View Letter</a></div>';
        layer.bindPopup(popupTemplate);
    }

    var layer1 = L.geoJSON(newgeodata, {
        filter: function(feature){
            if(feature.properties.date.includes('1672')){
                return true
            }
        },
        onEachFeature: objectPopups
    });

    var layer2 = L.geoJSON(newgeodata, {
        filter: function(feature){
            if(feature.properties.date.includes('1673')){
                return true
            }
        },
        onEachFeature: objectPopups
    });

    var map = L.map('newmap', {
		center: [43.753608, 3.905236],
		zoom: 5,
		layers: [stamen, layer1]
	});

    var overlays = {
        '1762': layer1,
        '1763': layer2
    };

    var layerControl = L.control.layers(overlays,null,{collapsed:false}).addTo(map);


</script>