<script>
    // remove splash content when button is clicked    
    let splashContent = document.querySelector('#splash');

    document.querySelector('#remove-content').addEventListener('click', () => { splashContent.style.display='none'; });

    // js option for written-text (requires <span> around h1 text)

    let spanWidth = document.querySelector('#written-text span').getBoundingClientRect().width + 'px';

    console.log(spanWidth);

    let textWriting = [
        { width: '0px' },
        { width: spanWidth }
    ];

    let textTiming = {
        duration: 4500,
        fill: 'forwards',
    };

    document.querySelector('#written-text').animate(textWriting, textTiming);

</script>