<!-- Optional JS for Bootstrap: jQuery first, then Bootstrap bundle JS -->
<script src="{{ '/assets/lib/jquery-3.5.1.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/lib/bootstrap.bundle.min.js' | absolute_url }}"></script>
<!-- load other js -->
<script src="{{ '/assets/lib/lazysizes.min.js' | absolute_url }}" async></script>

{%- if layout.lazyload == true or page.lazyload == true -%}<script src="{{ '/assets/lib/lazysizes.min.js' | absolute_url }}" async></script>{%- endif -%}

{% if page.custom-foot or layout.custom-foot %}
{%- assign page_feet = page.custom-foot | split: ";" -%}
{%- assign layout_feet = layout.custom-foot | split: ";" -%}
{%- assign feet = page_feet | concat: layout_feet -%}
{% for f in feet %}{% include {{ f }} %}
{% endfor %}
{%- endif -%}