<footer class="navbar bottom nav-light bg-light py-3 mt-4">
    <div class="container">
        <div class="row py-1">
            <div class="col-md-4 pt-4 align-self-center">
                <a class="h4" href="{{ '/' | absolute_url }}">{{ site.title }} </a>
                <p class="pl-3 pb-2 mb-0"><span class="text-muted">Correspondence of a 17th century woman, transcribed and translated</span></p>
            </div>
            <div class="col-md-4 align-self-center text-center">
                <p class="mb-0 pt-4">Design and Development:</p>
                <div class="pt-1 mr-auto">
                    <a href="https://cdil.lib.uidaho.edu/" target="_blank"><img src="{{ 'assets/images/cdil.png' | absolute_url }}" class="w-75"></a>
                </div>
                <hr />
                <p class="pl-3">
                <div class="text-muted text-small my-2 ml-auto"><span class="fab fa-github pr-1"></span> <a href="https://github.com/thecdil/mancini_source" target="_blank">Source Code</a></div>
            </div>
            <div class="col-md-4 align-self-center text-center pb-4">
                <div class="pt-4">
                    <a href="https://www.uidaho.edu/" target="_blank"><img src="{{ 'assets/images/ui.png' | absolute_url }}" class="w-75"></a>
                </div>
            </div>
        </div>
    </div>
</footer>