<div class="col-md-4 text-center" id="lightgallery">
    {%- for i in images -%}
    <div class="gallery-img" data-src="{{ site.digital-objects }}/{{ i | append: '.jpg' }}">
        <img src="{{ site.digital-objects }}/thumb/{{ i | append: '_th.jpg' }}" class="m-2 rounded" alt="letter thumbnail" class="img-fluid">
    </div>
    {%- endfor -%}
</div>
</div>
<div class="text-center">
<a id="prev-button" class="btn btn-secondary">&laquo; Previous</a>
<a class="btn btn-secondary" href="{{ '/letters.html' | relative_url }}">Back to browse</a>
<a id="for-button" class="btn btn-secondary">Next &raquo;</a>
</div>

<div id="item-nav">
<div class="d-none d-md-block">
    <a id="back-button" class="previous btn btn-lg btn-secondary">&laquo;</a>
    <a id="next-button" class="next btn btn-lg btn-secondary">&raquo;</a>
</div>
</div>

