body {
    /*font-family: 'Amiri', serif;*/
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}
.pop-annotation {
    cursor: pointer;
}

a {
    color: #0066CC;
    &:hover {
        color: #0066CC;
    }
    font-weight: 500;
}

.about-page {
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
}

.page-narrow {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

/* timeline */
#timeline .img-thumbnail { height: 110px; }

/* item page */
.gallery-img {
    cursor: pointer;
}
#item-nav {
    a { 
        position: absolute;
        top:500px;
    }
    .previous{ left:10px; }
    .next{ right:10px; }
}

.glossary-def {
    font-size:26px;
}

.item-view {
    width:           110%;
    display:         inline-flex;
    flex-wrap:       nowrap;
    justify-content: space-between;
    align-items:     center;
    margin-left:     -5%;

    .image-viewer {
        position: relative;
        text-align: center;
        height:   550px;
        max-height: 80vh;
        background-color: #eae7de;
        width:    100%;
        border:   1px solid #eae7de;
        margin:   2.0rem 0 2.0rem 0;

        a {
        color: inherit !important;
        }

        li {
        font-size: 1em !important;
        }

        .item-full-image {
        max-width: 800px;
        height: 550px;
        }
    }
}

/* map */
#map { height: 500px; z-index: 98; }
#newmap { height: 450px; z-index: 98; }
.mapthumb {
    height: 100px;
}
.leaflet-fusesearch-panel .header {
    padding-bottom: 1.5em;
}

/* splash page */

#splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 200;
    color: white;
}

#splash h1 {
    font-family: 'Marck Script', cursive;
    font-size: 80px;
}

@keyframes writing {
    from { width: 0px }
    to { width: 1184px }
}

#written-text {
    position: absolute;
    margin-top: 10%;
    white-space: nowrap;
    overflow: hidden;
    animation: writing 6s;
}
