body {
    /*font-family: 'Amiri', serif;*/
    font-family: 'EB Garamond', serif;
    font-size: 23px;
    color: #494440;
}

.nav-link {
    /* font-family: 'Merienda One', cursive; */
    font-family: 'Marck Script', cursive;
    /* font-family: 'Nothing You Could Do', cursive; */
    font-size: 35px;
    color: #494440 !important;
    &:hover {
        color: black !important;
    }
}

.nav-item {
    padding: 7px 10px 0px;
}

.nav-tabs .nav-item .nav-link {
    /* font-family: 'Merienda One', cursive; */
    font-family: 'EB Garamond', serif;
    /* font-family: 'Nothing You Could Do', cursive; */
    font-size: 23px;
    padding: 4px;
    color: #494440 !important;
    &:hover {
        color: black !important;
    }
}

.navbar-brand {
    margin-right: 0rem !important;
}

.dropdown-item {
    font-family: 'Marck Script', cursive;
    font-size: 25px;
}

.site-title {
    font-family: 'Marck Script', cursive;
}

.index-content {
    margin-left: 5em;
}

.custom-card-title {
    font-size: 35px;
}

.custom-card-text {
    font-size: 20px;
}

.card a {
    color: #494440 !important;
    &:hover {
        color: black !important;
    }
}

.pop-annotation {
    cursor: pointer;
}

a {
    color: #0066CC;
    &:hover {
        color: #0066CC;
    }
    font-weight: 500;
}

.about-page {
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
}

.page-narrow {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

/* timeline */
#timeline .img-thumbnail { height: 110px; }

/* item page */
.gallery-img {
    cursor: pointer;
}
#item-nav {
    a { 
        position: absolute;
        top:500px;
    }
    .previous{ left:10px; }
    .next{ right:10px; }
}

.glossary-def {
    font-size:26px;
}

.item-view {
    width:           110%;
    display:         inline-flex;
    flex-wrap:       nowrap;
    justify-content: space-between;
    align-items:     center;
    margin-left:     -5%;

    .image-viewer {
        position: relative;
        text-align: center;
        height:   550px;
        max-height: 80vh;
        background-color: #eae7de;
        width:    100%;
        border:   1px solid #eae7de;
        margin:   2.0rem 0 2.0rem 0;

        a {
        color: inherit !important;
        }

        li {
        font-size: 1em !important;
        }

        .item-full-image {
        max-width: 800px;
        height: 550px;
        }
    }
}

/* map */
#map { height: 500px; z-index: 98; }
#newmap { height: 450px; z-index: 98; }
.mapthumb {
    height: 100px;
}
.leaflet-fusesearch-panel .header {
    padding-bottom: 1.5em;
}
