---
letter: 1672_10_29_mm2os
number: 536
author: Marie Mancini
addressee: Ortensia Stella
letterdate: 1672-10-29
layout: default
gallery: true
---

{% include letter_top.html %}

<div class='container py-4'>
<h1>{{ page.title }}</h1>
<div class='row my-4'>
<div class="col-md-8">
{% include letter_tabs.html %}
<div class="tab-content my-3" id="myTabContent">
            <div id="raw" class="tab-pane fade" role="tabpanel" aria-labelledby="raw-tab">
                <h4 class="mb-3">Raw (French)</h4>
                    <p>
                        <a href="/places#avenay">D avenay</a>
                        ce 29<sup>me</sup>octo[[bre]] 1672
                    </p>
                <p>Je vous ey deia mandé que ie party de grenoble en intantion de voir le Roy, pour luy parler une fois et apres ie me seré mise dans un couvent a paris ou a chelles quy et a quatre lieux afin de pouvoir voir mes parants et avoir plus facilement tout ce que iaures eu affaire; cestoit la mon dessein le croy quy voudra; mais le Roy ayant prevenu ma volonte mobligea a entrer dans le lys et ne volut point me permetre de le voir ny d'aler a paris; et du depuis; il ma fait quitter le lys pour aler a avenay quy et plus loing de 25 lieux de paris que le lys; ou ie suis asse indisposse l'air estant fort mechant et le lieu si desert quon ne peut avoir rien de tout ce que lon sohaitte; et</p>
                <p>tout sa pour me fair resoudre a retourner a Rome ce n'en est pas la le moyen; iay encor plus d'aversion pour Rome que pour tout les couvent de france vous le saves mieux que personne et si Mr le conestable avoit eu plus de complesance ie [[a letter crossed out—maybe "n"?]] serey encor aupres de luy; cet une aversion que ie ne puis sourmonter la manière de vivre du pais l'humeur des ians et fort contrere a mon humeur; pour ce quy est des protestations que Marsan et le chevalier on fait fair a Mr le conestable par le pere olive sa [["sa" has been written over "ie"]] ne me surprend point; conosco larti del fellone ignote; pour tout le reste de la nation quant ie les aures</p>
                <p>traitte a Rome a coup de baston ie ne serey pas autrement recompancee; iey receu la receptte du tabac taches de vous reiouir et croyes quon ne peut plus mal passer le tans que ie fais</p>
                <p>songes a olive faitele venir icy car ie meur d'envie de l'avoir</p>
            </div>
            <div id="edit" class="tab-pane fade" role="tabpanel" aria-labelledby="edit-tab">
                <h4 class="mb-3">Edit (French)</h4>
                    <p>
                        <a href="/places#grenoble">À Grenoble</a>
                        ce 14<sup>me</sup> juillet
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right"/>.
            </div>
            <div id="trans" class="tab-pane fade show active" role="tabpanel" aria-labelledby="trans-tab">
                <h4 class="mb-3">Translation (English)</h4>
                    <p>
                        <a href="/places#grenoble">Grenoble</a>
                        14 July
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right">
                        <a href="/people#marie-mancini"/>.
                    </p>
            </div>
        </div></div>

{% include letter_bottom.html %}