---
letter: 1672_12_10_mm2lc
number: 15
author: Marie Mancini
addressee: Lorenzo Colonna
letterdate: 1672-12-10
layout: default
gallery: true
---

{% include letter_top.html %}

<div class='container py-4'>
<h1>{{ page.title }}</h1>
<div class='row my-4'>
<div class="col-md-8">
{% include letter_tabs.html %}
<div class="tab-content my-3" id="myTabContent">
            <div id="raw" class="tab-pane fade" role="tabpanel" aria-labelledby="raw-tab">
                <h4 class="mb-3">Raw (Italian)</h4>
                    <p>
                        <a href="/places#avenay">D'avenet</a> 
                        li 10 dec[[embre]] 1672
                    </p>
                <p>godo di sentir dalla vostra letra che la duchessa di bassanello abbia gradito quel picciolo segno che li o dato della memoria che conservo per lei la letra di ringratiamento fatta per mano di baldini era benissimo fatta; la risposta non sara tale perche il mio secretario parla male é scrive peggio et con tutto cio intende la lingua italiana [[something crossed out, with a hole in the paper]] in perfettione é percio é per molte altre bone qualita che a o auto gusto d'averlo apresso di me non avendo altri qua che luy é giovanni; mio fratello minvio</p>
                <p>hieri un suo cameriero per saper se volevo andar con luy a nevers o risposto ch' si perche non <sup>mi</sup> piace questo monasterio (con tutto che la stagione non sia di viagiare) essendo molto differente del lys; di cattiva aria le monache doppie quelle del lys son tanti angeli mai non ho visto monasterio piu osservante ne que m habia [[something crossed out—maybe "dato"]] piu edificato [[it looks like Marie first wrote "edificatione" and then crossed out the last couple letters and changed the word to "edificato"]] di quelle, so que non é stata la vostra intentione di farmene uscir, ma la malignita della gente per farmi entrar in un altro dove non posso fiatar che non si risappia a pariggi tutto quello che dico [[something crossed out]] benche siano cose di poco rilievo con tutto</p>
                <p>cio a un humor comme il mio et un grande imcomodo daver sempre d’abadar come se parla ne aver nessuno da potersi fidar. potete esser certo che la mia intentione ritirandomi in francia et stata sempre di [[something crossed out—maybe "m"]] viver in un convento é vero ch' pensavo che fossi in pariggi ma doppo le dificolta ch' vi ho incontrato ne son tanto stuffa ch' non voltarei una mano per andarci de nivers potró facilmente andar a lione se mio fratello se ne va, dove entraro in un altro monasterio assicurandovi che lontana da voi non passaro la vita altrove sto assai bene di salute doppo che sono in francia é staro sempre meglio quando saro assicurata che vi ricordate [[something crossed out]] di quy é tutta vostra</p>
                    <p class="text-right"/>
                    <p class="text-right"><a href="/people#mancini-marie">M. M. C.</a></p>
            </div>
            <div id="edit" class="tab-pane fade" role="tabpanel" aria-labelledby="edit-tab">
                <h4 class="mb-3">Edit (French)</h4>
                    <p>
                        <a href="/places#grenoble">À Grenoble</a>
                        ce 14<sup>me</sup> juillet
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right"/>.
            </div>
            <div id="trans" class="tab-pane fade show active" role="tabpanel" aria-labelledby="trans-tab">
                <h4 class="mb-3">Translation (English)</h4>
                    <p>
                        <a href="/places#grenoble">Grenoble</a>
                        14 July
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right">
                        <a href="/people#marie-mancini"/>.
                    </p>
            </div>
        </div></div>

{% include letter_bottom.html %}