---
letter: 1673_10_16_mm2lc
number: 42
author: Marie Mancini
addressee: Lorenzo Colonna
letterdate: 1673-10-16
layout: default
gallery: true
---

{% include letter_top.html %}

<div class='container py-4'>
<h1>{{ page.title }}</h1>
<div class='row my-4'>
<div class="col-md-8">
{% include letter_tabs.html %}
<div class="tab-content my-3" id="myTabContent">
            <div id="raw" class="tab-pane fade" role="tabpanel" aria-labelledby="raw-tab">
                <h4 class="mb-3">Raw (Italian)</h4>
                    <p>
                        <a href="/places#turin">de turino</a>
                        li 16 octt[[obre]] 1673
                    </p>
                <p>doppo avervi scritto una altra letra per don mauritio trovo che li miei debiti pagati quy son tanti che de le mille doble non me ne resteno per il viaggio. et cosi accio non mi mancano portando a Bourgomenero o exortato a don mauritio che trovi qui dui altri cento doble quali me la portato per il que accio li paghi et me possa rimettere il di piu l'o fatto una procura accio possa vendere per mille doble tanti lochi de</p>
                <p>monti overo pare<sup>n</sup>dovi piu espediente pigliarli questi mille doble di quel denaro ch'o in regno per sodisfare a quanto a don mauritio o detto in voce de mio gusto et di vostra sodisfactione et qui resto vostra sempre</p>
                    <p class="text-right"/>
                    <p class="text-right"><a href="/people#mancini-marie">M. M. C.</a></p>
                <postscript>
                    <p>per la gratitudine ch'o a Anna ve la raccommando perche so che vo bene et serve al principe mio figlio o detto a don mauritio [[something crossed out]] li dia cento scudi di questi denari</p>
                </postscript>
            </div>
            <div id="edit" class="tab-pane fade" role="tabpanel" aria-labelledby="edit-tab">
                <h4 class="mb-3">Edit (French)</h4>
                    <p>
                        <a href="/places#grenoble">À Grenoble</a>
                        ce 14<sup>me</sup> juillet
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right"/>.
            </div>
            <div id="trans" class="tab-pane fade show active" role="tabpanel" aria-labelledby="trans-tab">
                <h4 class="mb-3">Translation (English)</h4>
                    <p>
                        <a href="/places#grenoble">Grenoble</a>
                        14 July
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right">
                        <a href="/people#marie-mancini"/>.
                    </p>
            </div>
        </div></div>

{% include letter_bottom.html %}