---
letter: 1673_09_13_mm2lc
number: 38
author: Marie Mancini
addressee: Lorenzo Colonna
letterdate: 1673-09-13
layout: default
gallery: true
---

{% include letter_top.html %}

<div class='container py-4'>
<h1>{{ page.title }}</h1>
<div class='row my-4'>
<div class="col-md-8">
{% include letter_tabs.html %}
<div class="tab-content my-3" id="myTabContent">
            <div id="raw" class="tab-pane fade" role="tabpanel" aria-labelledby="raw-tab">
                <h4 class="mb-3">Raw (Italian)</h4>
                    <p>
                        <a href="/places#turin">de turino</a>
                        li 13 sep[[tembre]] 1673
                    </p>
                <p>ho inteso quello scrivete a don mauritio, per il negotio di francia, maravigliandomi ch'il Re metta in consulta ricevermi in un monasterio. staro pero attendendo l'ultime risposte come ho detto. per la fine di questo. et vi sono obligata delli mille scudi ch <sup>m</sup>avete rimesso, [[something crossed out]] avendo dato ordine, che di essi si [[pagiu? / pagiv? – did she mean to write "paghi," but she inverted the "h" and the "i"? that seems the most likely]] tutto quello che devo. circa al resto lo rimetterete dove avete pensato. pero credo, che maverete <sup>gia</sup> inviato qualque altra <sup>[[something crossed out]]</sup> somma che forse ci sara encor di bisogno; vi raccommando andrea</p>
                <p>che non puol vivere con sei scudi <sup>il mese.</sup> [[something crossed out]] et ricordateve che sono sep<sup>m</sup>re piu tenuta alla vostra bonta. della quale non mi rendero mai inmeritevole. mentre saro comforme vi o piu volte detto tutta vostra</p>   
                    <p class="text-right"/>
                    <p class="text-right"><a href="/people#mancini-marie">M. M. C.</a></p>
            </div>
            <div id="edit" class="tab-pane fade" role="tabpanel" aria-labelledby="edit-tab">
                <h4 class="mb-3">Edit (French)</h4>
                    <p>
                        <a href="/places#grenoble">À Grenoble</a>
                        ce 14<sup>me</sup> juillet
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right"/>.
            </div>
            <div id="trans" class="tab-pane fade show active" role="tabpanel" aria-labelledby="trans-tab">
                <h4 class="mb-3">Translation (English)</h4>
                    <p>
                        <a href="/places#grenoble">Grenoble</a>
                        14 July
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right">
                        <a href="/people#marie-mancini"/>.
                    </p>
            </div>
        </div></div>

{% include letter_bottom.html %}