---
letter: 1673_12_15_mm2lc
number: 45
author: Marie Mancini
addressee: Lorenzo Colonna
letterdate: 1673-12-15
layout: default
gallery: true
---

{% include letter_top.html %}

<div class='container py-4'>
<h1>{{ page.title }}</h1>
<div class='row my-4'>
<div class="col-md-8">
{% include letter_tabs.html %}
<div class="tab-content my-3" id="myTabContent">
            <div id="raw" class="tab-pane fade" role="tabpanel" aria-labelledby="raw-tab">
                <h4 class="mb-3">Raw (Italian)</h4>
                    <p>
                        <a href="/places#antwerp">d'anvers</a> 
                        ce 15<sup>me</sup> dece[[mbre]] 1673
                    </p>
                <p>Oliva non avendo visto letre vostre, et <sup>percio</sup> temendo che non habiate aprovato la mia venuta sè licentiato subitto ne io l'o possuto impedir di partir pero se lo potete far ritornar io naverei gusto, non avendo nessuno apresso di me, tra tanto io me <sup>ne</sup> sto quy nella cittadella d'anvers con ordine del governatore ch'io non esca ne anche o possuto veder la citta per amor de dio, et per il bene che mi</p>
                <p>avete volsuto altre volte non mi fate ricever questo afronto di esser arestata piu lungo tempo ma scrivete a questo governatore che vi contentate ch io vada in brusselles in un convento ch'io vi prometto di non escirne de la mai piu sensa consenso vostro, et quando io mancassi fateme perder la vita che sara meritamente la qual cosa vi sara facile per tutto di farlo. adio non mi refusate questa ultima gratia se nolo volete far per amor mio fatelo</p>
                <p>per amor de miei figli li quali abraccio teneramente, et li mando un stuccio per uno, et uno altro per voi <sup>et</sup> resto piu que mai vostra   </p>
                    <p class="text-right"/>
                    <p class="text-right"><a href="/people#mancini-marie">M. M. C.</a></p>
                <postscript>
                    <p>il marquese di borgomenero non vedendo vostre letre ne di don mauritio mi a lassato il piede nel fango qui [[something crossed out]] vi a [[de? / da?]] pensar [[ci??]] pensi. doppo essere venuta qua su la sua parola mi [[something crossed out—looks like "ri"]] trovo rite</p>
                    <p>nuta sensa saper dove dar la testa; il governatore regolandosi dal primo <sup>ordine</sup> ch' [[something crossed out]] hebbe dalla regina</p>
                </postscript>
            </div>
            <div id="edit" class="tab-pane fade" role="tabpanel" aria-labelledby="edit-tab">
                <h4 class="mb-3">Edit (French)</h4>
                    <p>
                        <a href="/places#grenoble">À Grenoble</a>
                        ce 14<sup>me</sup> juillet
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right"/>.
            </div>
            <div id="trans" class="tab-pane fade show active" role="tabpanel" aria-labelledby="trans-tab">
                <h4 class="mb-3">Translation (English)</h4>
                    <p>
                        <a href="/places#grenoble">Grenoble</a>
                        14 July
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right">
                        <a href="/people#marie-mancini"/>.
                    </p>
            </div>
        </div></div>

{% include letter_bottom.html %}