---
letter: 1673_02_07_mm2lc
number: 21
author: Marie Mancini
addressee: Lorenzo Colonna
letterdate: 1673-02-07
layout: default
gallery: true
---

{% include letter_top.html %}

<div class='container py-4'>
<h1>{{ page.title }}</h1>
<div class='row my-4'>
<div class="col-md-8">
{% include letter_tabs.html %}
<div class="tab-content my-3" id="myTabContent">
            <div id="raw" class="tab-pane fade" role="tabpanel" aria-labelledby="raw-tab">
                <h4 class="mb-3">Raw (French)</h4>
                    <p>
                        <a href="/places#turin">de thurin</a>
                        ce 7<sup>me</sup>fev[[rier]] 1673
                    </p>
                <p>Mon frere est arrivé quy ma rendu vostre letre ie vous suis fort obligé Monsieur du parti avantageux que vous moffres il met d'autant plus sensible comme ie suis persuade; que vous naves dautre veue que celle de mon bien et de ma satisfaction iy fairey des Refecsions serieuses en attandant ie vous suplie Monsieur de [[something crossed out]] conserver tousiours [[<strike>vos</strike>]] les mesmes santimans de bonte et de confiance a celle quy espere les reconoitre par les temoignages de son estime la Conestable Colonna</p>
                <p>si don [[there’s a squiggle that almost looks like an additional letter, but what other letter could it be? it’s definitely "don" and not "dona" because the direct object pronoun referring to him is "le"]] mauricce est arrivé. ie vous prie de le fair rendre icy au plus tost</p>
                    <p class="text-right"/>
                    <p class="text-right"/>
            </div>
            <div id="edit" class="tab-pane fade" role="tabpanel" aria-labelledby="edit-tab">
                <h4 class="mb-3">Edit (French)</h4>
                    <p>
                        <a href="/places#grenoble">À Grenoble</a>
                        ce 14<sup>me</sup> juillet
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right"/>.
            </div>
            <div id="trans" class="tab-pane fade show active" role="tabpanel" aria-labelledby="trans-tab">
                <h4 class="mb-3">Translation (English)</h4>
                    <p>
                        <a href="/places#grenoble">Grenoble</a>
                        14 July
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right">
                        <a href="/people#marie-mancini"/>.
                    </p>
            </div>
        </div></div>

{% include letter_bottom.html %}