---
letter: 1673_04_13_mm2lc
number: 30
author: Marie Mancini
addressee: Lorenzo Colonna
letterdate: 1673-04-13
layout: default
gallery: true
---

{% include letter_top.html %}

<div class='container py-4'>
<h1>{{ page.title }}</h1>
<div class='row my-4'>
<div class="col-md-8">
{% include letter_tabs.html %}
<div class="tab-content my-3" id="myTabContent">
            <div id="raw" class="tab-pane fade" role="tabpanel" aria-labelledby="raw-tab">
                <h4 class="mb-3">Raw (Italian)</h4>
                    <p>
                        <a href="/places#turin">de thurin</a> 
                        ce 13 [[Marie first wrote "23" and then wrote a "1" over the "2"]] avril 1673
                    </p>
                <p>la mia subitta partensa vi avera sorpreso ma non potei impedirmi di andar a dire adio a M.<sup>a</sup> mazarini la quale desiderava vedermi; ma la trovai partita et percio subitto me ne ritornai conforme avevo promesso a sua A. R; non mi est stato permesso rientrar nel convento et percio sono venuta in casa del Sig<sup>r</sup> principe di carignano iudicando non poter star in altro loco con piu decoro et conveniensa; mi a riceuto </p>
                <p>et mi tratta benissimo i miei nepoti che sono quy mi tengono bona compagnia; et sono molto bene allevati; spero listesso de miei ragazi li quali abraccio di tutto core et mi confermo al solito vostra</p> 
                    <p class="text-right"/>
                    <p class="text-right"><a href="/people#mancini-marie">M. M. C.</a></p>
            </div>
            <div id="edit" class="tab-pane fade" role="tabpanel" aria-labelledby="edit-tab">
                <h4 class="mb-3">Edit (French)</h4>
                    <p>
                        <a href="/places#grenoble">À Grenoble</a>
                        ce 14<sup>me</sup> juillet
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right"/>.
            </div>
            <div id="trans" class="tab-pane fade show active" role="tabpanel" aria-labelledby="trans-tab">
                <h4 class="mb-3">Translation (English)</h4>
                    <p>
                        <a href="/places#grenoble">Grenoble</a>
                        14 July
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right">
                        <a href="/people#marie-mancini"/>.
                    </p>
            </div>
        </div></div>

{% include letter_bottom.html %}