---
letter: 1674_06_06_mm2lc
number: 72
author: Marie Mancini
addressee: Lorenzo Colonna
letterdate: 1672-07-14
layout: default
gallery: true
---

{% include letter_top.html %}

<div class='container py-4'>
<h1>{{ page.title }}</h1>
<div class='row my-4'>
<div class="col-md-8">
{% include letter_tabs.html %}
<div class="tab-content my-3" id="myTabContent">
            <div id="raw" class="tab-pane fade" role="tabpanel" aria-labelledby="raw-tab">
                <h4 class="mb-3">Raw (Italian)</h4>
                    <p>
                        <a href="/places#ostend">d'ostende</a>
                        ce 6<sup>me</sup> luin 1674
                    </p>
                <p>stamo qui aspestando il vento favorevole avendo gia don ferdinando preso una barca grande per condurmi a st sebastian la quale a auto per cento vinti cinque doble il conte ci a fatto perder la meglio occasione del mondo don Bernardo salinas che parti tre di avante ch io venissi qui con un convoglio talmente ch'ion lui aurei travato magior comodita, et sicuressa ma [[<strike>qui</strike>]] chi non ma favorito nel arrivo non a volsuto <sup>ne</sup> anche farlo alla partensa [[<strike>don</strike>]] tutto il mondo n é scandalisato in veder che mi a mandato qua sensa nessun recapito a creduto forse spiantarvi con farvi pigliar un vascello</p>
                <p>aposta ma la vostra casa non a bisogno per sostentarsi de nessun governo come la sua. qui ricevo mille cortesie dal governatore et dalla moglie li quali sono tutti [[something crossed out]] dui spagnuoli ma compitisimi adesso potete conoscer se volete rendermi quella iustitia che mi é douta quanto mi a fatto apparir differente Bourgomenero da quella sono sono passata per l'olanda venendo <sup>in</sup> qua per non incontrar qualque partita francese. mi ritrovo di piu in luogo che non vi é ch' vinti quatro hore per passar a dovre in inghilterra vedete savessi auto tal intentione come <sup>vi</sup> a fatto creder et al conte puro chi minpediria di [[something crossed out]] contentarmi non ho guardie ne sentinelle, et puro non fuggo come teme</p>
                <p>vio che fugisse dal monasterio perche le muraille eran basse; <sup>e</sup> et stata disgratia mia ch abiate volsuto darla [[<strike>fede</strike>]] vinta a un indegno [[<strike>per dargliela vinta</strike>]] <sup>et</sup> farmi tanto torto, aveva giurato lui, et oliva ch io non anderia a brusselles, é se vi sarei andata me ne sarei pentita come fu, dio mi faccia gratia che li suoi mali ofity non arrivano insino a madrid dove voglio sperar che vi ricordarete di me che sono piu che mai vostra</p>
                    <p class="text-right"/>
                    <p class="text-right"><a href="/people#mancini-marie">M. M. C.</a></p>
            </div>
            <div id="edit" class="tab-pane fade" role="tabpanel" aria-labelledby="edit-tab">
                <h4 class="mb-3">Edit (French)</h4>
                    <p>
                        <a href="/places#grenoble">À Grenoble</a>
                        ce 14<sup>me</sup> juillet
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right"/>.
            </div>
            <div id="trans" class="tab-pane fade show active" role="tabpanel" aria-labelledby="trans-tab">
                <h4 class="mb-3">Translation (English)</h4>
                    <p>
                        <a href="/places#grenoble">Grenoble</a>
                        14 July
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right">
                        <a href="/people#marie-mancini"/>.
                    </p>
            </div>
        </div></div>

{% include letter_bottom.html %}