---
letter: 1674_05_25_mm2lc
number: 71
author: Marie Mancini
addressee: Ortensia Stella
letterdate: 1674-05-25
layout: default
gallery: true
---

{% include letter_top.html %}

<div class='container py-4'>
<h1>{{ page.title }}</h1>
<div class='row my-4'>
<div class="col-md-8">
{% include letter_tabs.html %}
<div class="tab-content my-3" id="myTabContent">
            <div id="raw" class="tab-pane fade" role="tabpanel" aria-labelledby="raw-tab">
                <h4 class="mb-3">Raw (Italian)</h4>
                    <p>
                        <a href="/places#antwerp">del castello</a> 
                        li 25 maggio 1674
                    </p>
                <p>eccomi in procinto di partir per ostende dove poi pigliaro limbarco per [[<strike>mi</strike>]] san sebastiano et della a madrid se piace a dio che vi arrivi sensa nessuna disgratia io o spesi per molte bagattelle che mi anno bisognato alla spagnola come camicie manto habito, et molte altre cose, et tutto de denari che mi ritrovavo ancora non avendo preso niente di strahordinario assicurandovi che spendo il meno che si puole Don ferdinando ne potra far fede il quale si porta molto bene pur che continui ogni cosa andara <sup>meglio</sup> bene i retratti de figlioli li</p>
                <p>potrete inviare a barcellona sotto l'adressa que nanetta a dato alla contessa che dela mi saranno mandati con ogni sicuressa, et con questo mi sottoscrivo al solito vostra</p>
                    <p class="text-right"/>
                    <p class="text-right"><a href="/people#mancini-marie">M. M. C.</a></p>
            </div>
            <div id="edit" class="tab-pane fade" role="tabpanel" aria-labelledby="edit-tab">
                <h4 class="mb-3">Edit (French)</h4>
                    <p>
                        <a href="/places#grenoble">À Grenoble</a>
                        ce 14<sup>me</sup> juillet
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right"/>.
            </div>
            <div id="trans" class="tab-pane fade show active" role="tabpanel" aria-labelledby="trans-tab">
                <h4 class="mb-3">Translation (English)</h4>
                    <p>
                        <a href="/places#grenoble">Grenoble</a>
                        14 July
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right">
                        <a href="/people#marie-mancini"/>.
                    </p>
            </div>
        </div></div>

{% include letter_bottom.html %}