---
letter: 1674_03_07_mm2lc
number: 60
author: Marie Mancini
addressee: Lorenzo Colonna
letterdate: 1674-03-07
layout: default
gallery: true
---

{% include letter_top.html %}

<div class='container py-4'>
<h1>{{ page.title }}</h1>
<div class='row my-4'>
<div class="col-md-8">
{% include letter_tabs.html %}
<div class="tab-content my-3" id="myTabContent">
            <div id="raw" class="tab-pane fade" role="tabpanel" aria-labelledby="raw-tab">
                <h4 class="mb-3">Raw (Italian)</h4>
                    <p>
                        <a href="/places#antwerp">a grenoble</a> 
                        li 7 marso 1674
                    </p>
                <p>Ogni cosa va sempre ala peggio tutti sono daccordo col marquese é io me ritrovo qua abandonata da tutti [[<strike>l'</strike>]] é con pochissima salute l'altra notte hebbi una colica che sensa il balsamo di pietro de piazza ero morta non potendo esser asistita prontamente in questo castello mentre si chiudano le porte al ave maria, é non saprano cha giorno pero io vi pregho caldamente di permettermi di andar a madrid mentre qui il conte non si fida di me é sempre ricevero magior disgusti. vivero la in un convento ne averete piu sospetto ch io vada altrove mentre quella é una citta for de mano, é lontana dalli paesi che temete sempre ch io vada, doppo che Borgomenero</p>
                <p>ve la messo in testa, é anche al conte. [[something crossed out]] in quanto alli denari non vi mettete in pena perche ne o ancora un pochi nelle mani del valenti che bastaranno giusto per il viaggio scrivete solamente al conte che vi contentate, é che mi dia persona da condurmi; se non ve pare che basti Don iovvan bruneau. faro il viaggio per mare sino a [[something crossed out--maybe "barcellona"??]] <sup>st sebastian</sup> se pero vi par meglio perche non vorrei passar per la francia scrivete pero subitto la a quella corte. é fate scrivere tutti i vostri amici accio non riceva li mali trattamenti ch',o riceuto qua é, da quelli che la mi saran fatti potro acertarmi magiormente del vostro affectto, é della realta delle vostre actioni [[something crossed out]] <sup>é con tutto che</sup> il marquese mi abbia fatto intender che voi sete daccordo con loro é che</p>
                <p>li scrivete in altra forma ch'a me io o sempre sospeso la mia credensa; é un vituperio il sentir dir le stanse che mi an fatto accomadare quando avessi amazatto qualque duno non mi potevano preparare una prigion piu rigorosa la mia intentione, é stata sempre di stare [[something crossed out]] in un convento é no rinchiusa come una bestia feroce in due stanse fuori desso. il marquese é, partito doppo aver fatto questo bello allogio non avendo auto faccia di vedermi per timor no lo svergognassi inansi a tutti comforme meritava. per quello riguarda madrid se voi averete piu gusto che stia in palazzo non terra qu'a voi di procurarmene l'entrata cosi avero magior campo di servirvi, é staro con magior decoro é sicuressa. spendero anche meno mi farete pero tener la questi medesimi denari il mese. e il viaggio andera a conto mio adio benedico i figlioli e sono sempre vostra</p>
                    <p class="text-right"/>
                    <p class="text-right"><a href="/people#mancini-marie">M. M. C.</a></p>
            </div>
            <div id="edit" class="tab-pane fade" role="tabpanel" aria-labelledby="edit-tab">
                <h4 class="mb-3">Edit (French)</h4>
                    <p>
                        <a href="/places#grenoble">À Grenoble</a>
                        ce 14<sup>me</sup> juillet
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right"/>.
            </div>
            <div id="trans" class="tab-pane fade show active" role="tabpanel" aria-labelledby="trans-tab">
                <h4 class="mb-3">Translation (English)</h4>
                    <p>
                        <a href="/places#grenoble">Grenoble</a>
                        14 July
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right">
                        <a href="/people#marie-mancini"/>.
                    </p>
            </div>
        </div></div>

{% include letter_bottom.html %}