---
letter: 1674_07_03_mm2lc
number: 74
author: Marie Mancini
addressee: Lorenzo Colonna
letterdate: 1674-07-03
layout: default
gallery: true
---

{% include letter_top.html %}

<div class='container py-4'>
<h1>{{ page.title }}</h1>
<div class='row my-4'>
<div class="col-md-8">
{% include letter_tabs.html %}
<div class="tab-content my-3" id="myTabContent">
            <div id="raw" class="tab-pane fade" role="tabpanel" aria-labelledby="raw-tab">
                <h4 class="mb-3">Raw (Italian)</h4>
                    <p>
                        <a href="/places#madrid">di madrid</a> 
                        li 3 luglio 1674
                    </p>
                <p>dalla letra de don ferdinando averete inteso nella forma che son stata incontrata riceuta, é trattata dal Sig<sup>r</sup> amirante de [[<strike>q</strike>]] chi o fatto capitale subitto partita di fiandra riconosco pero per linea trasversale tutte queste finesse perche non mi averia nessuno guardato adosso sensa le vostre raccommandationi, é pero a voi professo tutto l'obligo al quale cercaro di sodisfare con il modo di comportarmi [[something crossed out]] al uso del paese, é [[something crossed out]] procurar con il tempo se o la fortuna di veder spesso la regina di avantagiar qualque cosa per la casa vi prego percio di ottenermi la licensa di poter uscir qualque volta del convento, é d'inviarmela prontamente l'amirante poi mi regala ogni giorno non si puol veder un Sigr piu compito é piu generoso io mi governo nel modo che lui [[the corner of the paper is folded and covers most of the "ui" of "lui"]]</p>
                <p>ordina non facendo niente di mia testa spero di veder presto la Regina subitto che il mio habito ala spagnola sara fatto é, doppo poi entraro nel convento de san domingo il Real se si puol se no [[<strike>il</strike>]] in altro, é potendo a suo tempo inviarmi un figliolo lo stimerei a fortuna particolare accio [[<strike>po</strike>]] si acostumasse con il Re, é talvolta potra ottenere qualque posto [[something crossed out]] per la sua persona é tratanto resto abraciando i figlioli al solito tutta vostra</p>
                    <p class="text-right"/>
                    <p class="text-right"><a href="/people#mancini-marie">M. M. C.</a></p>
            </div>
            <div id="edit" class="tab-pane fade" role="tabpanel" aria-labelledby="edit-tab">
                <h4 class="mb-3">Edit (French)</h4>
                    <p>
                        <a href="/places#grenoble">À Grenoble</a>
                        ce 14<sup>me</sup> juillet
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right"/>.
            </div>
            <div id="trans" class="tab-pane fade show active" role="tabpanel" aria-labelledby="trans-tab">
                <h4 class="mb-3">Translation (English)</h4>
                    <p>
                        <a href="/places#grenoble">Grenoble</a>
                        14 July
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right">
                        <a href="/people#marie-mancini"/>.
                    </p>
            </div>
        </div></div>

{% include letter_bottom.html %}