---
letter: 1675_05_29_mm2lc
number: 467
author: Marie Mancini
addressee: Lorenzo Colonna
letterdate: 1675-05-29
layout: default
gallery: true
---

{% include letter_top.html %}

<div class='container py-4'>
<h1>{{ page.title }}</h1>
<div class='row my-4'>
<div class="col-md-8">
{% include letter_tabs.html %}
<div class="tab-content my-3" id="myTabContent">
            <div id="raw" class="tab-pane fade" role="tabpanel" aria-labelledby="raw-tab">
                <h4 class="mb-3">Raw (Italian)</h4>
                    <p>
                        <a href="/places#madrid">di madrid</a>  
                        li 29 maggio 1675
                    </p>
                <p>per il corriero straordinario ricevei una vostra letra con quatro ventagli di odore perfetisimo, o riceuto anche per mare il quadro per la Regina che sara a tempo quando entri la seconda volta che sara questo istate, io me la passo meglio di salute doppo essermi purgata tre volte, é cacciata sangue due benque no possa molto servirmi del braccio ma pur che non senta dolore non minporta; non so cosa vi scriva don ferdinando ma, é piu dun mese che no lo vedo so che dice cento spropositi, é che teme che io non me ne vada, é tutto questo per autorisar il suo mal tratto; che per altro non vederete mai ch’io faccia nesuna resolutione che non sia aprovata qui dalla [[<strike>consi</strike>; Marie first began to write "dal consiglio" here, but then changed "dal" to "dalla" and crossed out the beginning of "consiglio"]] Regina dal consiglio, é da tutti i parenti, é con la</p>
                <p>decensa che si deve; é crediate che piu tosto mi sacrificaro a star rinchiusa tutto il tempo di <sup>vita</sup> mia, che far niente che sia contro il decoro, é la conveniensa: no o ancora riceuto vostre letre per l'hordinario ma avendone riceute per lo staordinario mi consolo con la certesa che o de la vostra salute, é de i figlioli quali abracio teneramente, é mi confermo qual sempre sono vostra</p>
                    <p class="text-right"/>
                    <p class="text-right"><a href="/people#mancini-marie">M. M. C.</a></p>
                <postscript>
                    <p>dopo avervi scrito mi a reso don ferdinando una vostra avendo preso questa ocasione per venirme a veder, sento che stavio alle caccie con tre vedove le quali saluto caramente é, di novo mi ricordo vostra <a href="/people#mancini-marie">M. M. C.</a></p>
                </postscript>
            </div>
            <div id="edit" class="tab-pane fade" role="tabpanel" aria-labelledby="edit-tab">
                <h4 class="mb-3">Edit (French)</h4>
                    <p>
                        <a href="/places#grenoble">À Grenoble</a>
                        ce 14<sup>me</sup> juillet
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right"/>.
            </div>
            <div id="trans" class="tab-pane fade show active" role="tabpanel" aria-labelledby="trans-tab">
                <h4 class="mb-3">Translation (English)</h4>
                    <p>
                        <a href="/places#grenoble">Grenoble</a>
                        14 July
                    </p>
                <p/>
                <p/>
                    <p class="text-right"/>
                    <p class="text-right">
                        <a href="/people#marie-mancini"/>.
                    </p>
            </div>
        </div></div>

{% include letter_bottom.html %}