---
layout: default
---

<style>
body {
  background-image: linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.0)), url("assets/images/cardboard.jpg");
  background-size: cover;
}

.title {
  color: white;
  font-family: 'Merienda One', cursive;
  margin-top: 50%;
}
</style>

<div class="container">
  <div class="row">
      <div class="col-md-6">
        <div class="title">
            <h1 class="display-4">The Letters of</h1>
            <h1 class="display-3">Marie Mancini</h1>
            <div class="mt-4">
                <a href="letters.html" role="button" class="btn btn-lg btn-outline-light mx-2">Letters</a>
                <a href="about.html" role="button" class="btn btn-lg btn-outline-light mx-2">About</a>
            </div>
        </div>
      </div>
      <div class="col-md-6">

      </div>
  </div>
</div>



