---
layout: default
gallery: true
---

{%- assign letter = site.data.mancini | where: 'id', page.letter -%}
{%- for l in letter -%}
{%- assign images = l.images | split: ";" -%}
{% if l.date %}{%- capture year -%}{% if l.date contains "-" %}{{ l.date | split: "-" | first }}{% elsif l.date contains "/" %}{{ l.date | split: "/" | last }}{% else %}{{ l.date }}{% endif %}{%- endcapture -%}{% endif %}
{%- endfor -%}

<div class="container py-4">
    <h1>{{ page.title }}</h1>
    <div class="row my-4">
        <div class="col-md-8">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="trans-tab" data-toggle="tab" href="#trans" role="tab" aria-controls="trans" aria-selected="true">Translation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="raw-tab" data-toggle="tab" href="#raw" role="tab" aria-controls="raw" aria-selected="false">Raw</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="edit-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="edit" aria-selected="false">Edited</a>
                </li>
                <li class="nav-item ml-auto mt-2">
                    <a href="{{ year | strip | prepend: '/timeline.html#' | relative_url }}" title="View letter on timeline">View on Timeline</a>
                </li>
            </ul>
            <div class="tab-content my-3" id="myTabContent">

                {{ content }}
                
            </div>
        </div>
        <div class="col-md-4 text-center" id="lightgallery">
            {%- for i in images -%}
            <div class="gallery-img" data-src="{{ site.digital-objects }}/{{ i | append: '.jpg' }}">
                <img src="{{ site.digital-objects }}/thumb/{{ i | append: '_th.jpg' }}" class="m-2 rounded" alt="letter thumbnail" class="img-fluid">
            </div>
            {%- endfor -%}
        </div>
    </div>
    <div class="text-center">
        <a id="prev-button" class="btn btn-secondary">&laquo; Previous</a>
        <a class="btn btn-secondary" href="{{ '/letters.html' | relative_url }}">Back to browse</a>
        <a id="for-button" class="btn btn-secondary">Next &raquo;</a>
    </div>

    <div id="item-nav">
        <div class="d-none d-md-block">
            <a id="back-button" class="previous btn btn-lg btn-secondary">&laquo;</a>
            <a id="next-button" class="next btn btn-lg btn-secondary">&raquo;</a>
        </div>
    </div>
</div>