---
layout: default
---

{% assign year = page.letterdate | split: "-" | first %}

<div class="container py-4">
    <h1 class="pb-3">{{ page.author }} to {{ page.addressee }}, {{ page.letterdate }}</h1>
    <div class="row my-4 mx-auto">
        <div class="col-md-7">
            <div class='item-view'>
            {% include osd_iiif_image_viewer.html manifest=page.manifest %}
            </div>
        </div>
        <div class="col-md-5 pl-5">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="trans-tab" data-toggle="tab" href="#trans" role="tab" aria-controls="trans" aria-selected="true">Translation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="raw-tab" data-toggle="tab" href="#raw" role="tab" aria-controls="raw" aria-selected="false">Raw</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="edit-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="edit" aria-selected="false">Edited</a>
                </li>
                <li class="nav-item ml-auto mt-2">
                    <a href="{{ year | strip | prepend: '/timeline.html#' | relative_url }}" title="View letter on timeline">View on Timeline</a>
                </li>
            </ul>
            <div class="tab-content my-3" id="myTabContent">

                {{ content }}
                
            </div>
        </div>
    </div>
    <div class="text-center">
        <a id="prev-button" class="btn btn-secondary">&laquo; Previous</a>
        <a class="btn btn-secondary" href="{{ '/browse.html' | relative_url }}">Back to browse</a>
        <a id="for-button" class="btn btn-secondary">Next &raquo;</a>
    </div>

    <div id="item-nav">
        <div class="d-none d-md-block">
            <a id="back-button" class="previous btn btn-lg btn-secondary">&laquo;</a>
            <a id="next-button" class="next btn btn-lg btn-secondary">&raquo;</a>
        </div>
    </div>
</div>