---
layout: default
gallery: true
---

{%- assign letter = site.data.mancini | where: 'title', page.title -%}
{%- for l in letter -%}
{%- assign images = l.pages | split: ";" -%}
{%- endfor -%}

<div class="container py-4">
    <h1>{{ page.title }}</h1>
    <div class="row my-4">
        <div class="col-md-8">
            {{ content }}
        </div>
        <div class="col-md-4" id="lightgallery">
            {%- for i in images -%}
            <div class="gallery-img" data-src="{{ site.digital-objects }}/{{ i | append: '.jpg' }}">
                <img src="{{ site.digital-objects }}/thumbs/{{ i | append: '_thm.jpg' }}" class="m-2 rounded" alt="letter thumbnail" class="img-fluid">
            </div>
            {%- endfor -%}
        </div>
    </div>
</div>