---
layout: default
custom-foot: js/map-js.html
---

<div class="container mt-4 about-page">
    <h1>Maps</h1>
    <p>Browse the locations where Marie Mancini stayed as she traveled through Europe, and view the cities she mentions in her letters.</p>
    <!--<div class="text-center">
        <a class="btn btn-secondary btn-lg" style="color:white;" href="#storymap">Storymap</a>
        <a class="btn btn-secondary btn-lg mx-2" style="color:white;" href="#visit">Locations Visited</a>
        <a class="btn btn-secondary btn-lg" style="color:white;" href="#mention">Locations Mentioned</a>
    </div>-->
</div>
    
<div class="container mt-4">
    <div class="row pt-3">
        <div class="col-md-6">
            <h2 class="text-center" id="visit">Locations Visited by Marie</h2>
            <div id="newmap" class="mb-4"></div>
        </div>
        <div class="col-md-6 border-left border-dark">
            <h2 class="text-center" id="mention">Locations Mentioned in Marie's Letters</h2>
            <div id="map" class="mb-4"></div>
        </div>
    </div>
</div>