---
layout: page
lazyload: true
custom-foot: js/tooltip-js.html
---

{%- assign items = site.letters -%}
{%- assign raw-dates = site.letters | map: 'letter_date' | compact | uniq -%}
{%- capture clean-years -%}{% for date in raw-dates %}{{ date | strip | split: "-" | first }}{% unless forloop.last %};{% endunless %}{%- endfor -%}{%- endcapture -%}
{%- assign uniqueYears = clean-years | remove: " " | split: ";" | uniq | sort -%}
{%- if site.data.theme.year-navigation -%}
{%- assign navYears = site.data.theme.year-navigation | split: ";" -%}
{%- else -%}
{%- capture navYears -%}
{%- for i in uniqueYears -%}{%- assign t = i | modulo: 5 -%}
{%- if t == 0 -%}{{ i }}{% unless forloop.last %};{% endunless %}{% endif %}{% endfor %}{%- endcapture -%}
{%- assign navYears = navYears | split: ";" -%}
{%- endif -%}
<div class="dropdown float-right" id="year-nav">
    <button class="btn btn-info btn-lg dropdown-toggle" type="button" id="yearButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Year
    </button>
    <div class="dropdown-menu" aria-labelledby="yearButton">
        {% for y in navYears %}
        <a class="dropdown-item year-dropdown" href="#{{ y }}">{{ y }}</a>{% endfor %}
    </div>
</div>

{{ content }}

<h3><a href="#{{ uniqueYears | first }}">{{ uniqueYears | first }}</a> to <a href="#{{ uniqueYears | last }}">{{ uniqueYears | last }}</a></h3>

<table id="timeline" class="table table-striped">
    {% for year in uniqueYears %}
    <tr id="{{ year }}">
        <th>
            <h3>{{ year }}</h3>
        </th>
        <td>
            <div class="row">
                {%- assign inYear = items | where_exp: 'item', 'item.letter_id contains year' -%}
                {% for item in inYear %}
                {%- assign images = item.images | split: ";" -%}
                <div class="col-md-3">
                    <a class="d-inline-block m-1" href="{{ item.letter_id | prepend: '/letters/' | relative_url | append: '.html' }}" data-toggle="tooltip" data-placement="bottom" title="{{ item.title | escape }} | {{ item.letter_date | escape }}">
                        <img class="lazyload img-thumbnail" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ site.digital-objects }}/thumb/{{ images[1] | append: '_th.jpg' }}" alt="{{ item.title | escape }}" >
                    </a>
                </div>
                {% endfor %}
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
